plotly==2.7.0
matplotlib==2.2.2
gensim==3.4.0
Flask==1.0.2
colorlover==0.2.1
nltk==3.3
pymongo==3.4.0
requests==2.18.4
spacy==2.0.12
pandas==0.22.0
numpy==1.13.3
seaborn==0.8.1
beautifulsoup4==4.6.3
pyLDAvis==2.1.2
scikit_learn==0.19.2
