<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/logo.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Professor Profiler</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header id="header" id="home" class="header-scrolled">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="nav-menu">
                    <a href="/"><h3 style="color: white;">PROFESSOR PROFILER</h3></a>
                </div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="/">Home</a></li>
						<li><a href="/explore.html">Explore the recommender</a></li>
						<li><a href="/about.html">About this project</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start post Area -->
    <section class="post-area section-gap spacer">
        <div class="container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="{{prof_info[0]['photo_link']}}" alt="{{prof_info[0]['faculty_name']}}" width="150"
                                height="200">
                        </div>
                        <div class="details" style="padding-left: 20px">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <h3>{{prof_info[0]['faculty_name']}}</h3>
                                    <h5><b>{{prof_info[0]['university_name']}}</b></h5>
                                    <h6><b>Designation:</b> {{prof_info[0]['title']}}</h6>
                                    <h6><b>Email:</b> {{prof_info[0]['email']}}</h6>
                                    <h6><b>Phone:</b> {{prof_info[0]['phone']}}</h6>
                                    <h6><b>Office:</b> {{prof_info[0]['office']}}</h6>
                                    <h6><b>Website:</b> <a href="{{prof_info[0]['page']}}">{{prof_info[0]['page']}}</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post job-details">
                        <h3 class="single-title">Research Profile</h3>
                        <h6><b>h-Index:</b> {{prof_info[0]['h_index']}}</h6>
                        <h6><b>Citations:</b> {{prof_info[0]['citations']['All']}}</h6>                        
                        <h6><b>Interests:</b>
                            <ul style="color: black;list-style: circle;padding-left: 20px;">
                                {% for research_area in prof_info[0]['research_areas'] %}
                                <li>
                                    {{research_area}}
                                </li>
                                {% endfor %}
                            </ul>
                        </h6>
                    </div>
                    <div class="single-post job-details">
                        <h3 class="single-title">Research Topic Distribution</h3>
                        {{prof_topic_distribution_plot}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->

    <!-- start footer Area -->
    <footer class="footer-area">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made
                    with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/js/easing.min.js"></script>
    <script src="/js/hoverIntent.js"></script>
    <script src="/js/superfish.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/parallax.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>